@import "semantic-ui";

*{
  padding:0;
  margin: 0;
}

html, body {
  height:100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.background ::selection {
  text-shadow: none;
  background: #fed136;
}

/* background setup */
.background {
    background-size: 105% 141%;
    background-repeat:no-repeat;
    background-image: url('/assets/background1.jpg');
    width: 100%;
    min-height: 100%;
}

.fullscreen.background .fullscreen-wrapper{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  text-align: center;
  color: white;

  .intro-text{
    padding-top: 180px;
    padding-bottom: 200px;

    .intro-lead-in{
      margin-bottom: 25px;
      font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
    }

    .intro-heading{
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
    }

    .button{
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
}


.container{
  // padding-top: 100px;

  &:before, &:after{
    display: table;
    content: " ";
  }
}

.ui.main.menu {
  .item:before {
    width: 0;
  }
  .item {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .title.item{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 100px;
    font-size: 23px;
    background: rgba(0, 0, 0, 0.01);
  }

  .item.search-field{
    height: 43px;
    padding: 0;
    min-width: 52%;

    input {
      height: 61px;
      border-color: rgba(0, 0, 0, 0.04);
      border-radius: 0;
      border-top: none;
      border-bottom: none;
      font-size: 18px;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 2em;
      color: #287DD9;
    }

    input:focus{
      border-color: rgba(0, 0, 0, 0.1);
    }

    i {
      padding: 30px 10px;
    }
  }

  .item.signout{
    height: 61px;
    display: inline-block;
    line-height: 31px;
    opacity: 0.5;

    &:hover{
      opacity: 1;
    }
  }
}

.product-name{
  border-bottom: 4px solid #fed136;
}

.ui.twitter.button{
  font-size: 1.8em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  .content {
    font-size: 0.7em;
  }
}

a {
  color: #009FDA;
  text-decoration: none;
}

.comment.heading{
  float: left;
  margin-bottom: 28px;

  & ~ .heading-text{
    line-height: 1.9em;
    margin-left: 10px;
  }
}
.ui.comments{
  clear: both;
}

.ui.segment {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.ui.comments .comment > .avatar ~ .content {
  border-top: 1px solid #F5F3F3;
  padding-bottom: 0;
  padding-top: 17px;
}

.ui.comments .comment .avatar img{
  margin-top: 9px;
}

.right.aligned {
  float: right;
}

.center.content{
  text-align: center;
}

.pointer{
  cursor: pointer;
}

.highlightedText{
  border-bottom: 1px dashed #ccc;
  cursor: text;
  &:hover {
    background: #eee;
    border-bottom: 1px solid #aaa;
  }
}


.spinning, .spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 700ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 700ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
